body {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(21, 255, 66, 1) 100%);
}

.flex-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.flex-container>div {
    background-color: #2db02d;
    border: solid 2px;
    border-radius: 50px;
    width: 90%;
    height: 700px;
    margin: 10px;
    text-align: center;
}