body {
    background-image:url(images/cool-background.png);
    background-size:cover;
}

.flex-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.flex-container>div {
    display: flex;
    background-color: #2db02d;
    border: solid 1px;
    border-radius: 50%;
    width: 60%;
    height: 800px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


#btn-start {
    border-radius: 20px;
    height: 50px;
    width:100px;
    background-color: whitesmoke;

}

